# Ignore les fichiers de variables d'environnement
.env

# Ignore les répertoires de l'environnement virtuel
venv/
env/

# Ignore les fichiers de configuration de l'IDE
.idea/
.vscode/

# Ignore les fichiers de compilation Python
__pycache__/
*.pyc

# Ignore les fichiers de logs
*.log

# Ignore les fichiers de base de données SQLite
*.sqlite3
